/* static/style.css */

body { 
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.header {
    background-color: #969581;
    color: rgb(182, 175, 175);

    text-align: center;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(23, 23, 23, 0.2);
}

.content {
    padding: 20px;
    background-color: #f4f4f4;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

h1 {
    color: #626970;
    border-bottom: 2px solid #0d0e10;
    padding-bottom: 10px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(21, 21, 21, 0.1);
}

footer {
    bottom: 0;
    position: absolute;
    margin: 0 0 10px 10px;
}