<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Подключение стилей -->
</head>
<body>
    <header style="position: sticky; top: 0; background-color: rgb(179, 162, 225); z-index: 1000; box-shadow: 0 2px 5px rgba(0,0,0,0.2);">
        <h1>Добро пожаловать!</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/preview">Предпросмотр</a>
            <a href="/form">Форма</a>
            <a href="/preview/debet?sort_by=Ф.И.О.">Дебеторы</a>
        </nav>
    </header>
    <main>
        <p>Это основной контент страницы, загруженной из шаблона.</p>
    </main>
</body>
</html>